pkgbase = yaydl-bin
	pkgdesc = Yet Another YouTube Downloader, a yt-dlp frontend
	pkgver = 0.4.0
	pkgrel = 1
	url = https://github.com/NiklasRhf/yaydl
	arch = x86_64
	license = MIT
	depends = webkit2gtk-4.1
	depends = gtk3
	depends = libsoup3
	depends = glib2
	depends = cairo
	depends = gdk-pixbuf2
	depends = dbus
	depends = gcc-libs
	depends = glibc
	depends = xdg-utils
	provides = yaydl
	conflicts = yaydl
	noextract = yaydl_0.4.0_amd64.deb
	options = !strip
	options = !debug
	source = https://github.com/NiklasRhf/yaydl/releases/download/yaydl-v0.4.0/yaydl_0.4.0_amd64.deb
	source = LICENSE-0.4.0::https://raw.githubusercontent.com/NiklasRhf/yaydl/yaydl-v0.4.0/LICENSE
	sha256sums = 09719cb1dc519fbf7a54a9417b015970a3c8b17ad1892a9e863ea04491544664
	sha256sums = f148aa9a803ae4ab5625037cc44c90148cb033fbe48fb39de0f9e134cde303b3

pkgname = yaydl-bin
